
sql_parsing.py
sql_examples.txt
postgres_connection.py
query_translation.txt
translate_test.py
sqlparse_function_test.py
regex_test.py
column_defs_lowlevel.py
credentials_test.py
oracle_connection.txt
postgres_connection.txt
*.pyc
tcph_1.sql
tcph_customer
cmdout.txt
*.csv
tcph_lineitem
lineitem_header.txt
tcph_lineitem_header
lineitem
