
sql_parsing.py
sql_examples.txt
postgres_connection.py
query_translation.txt
translate_test.py
sqlparse_function_test.py
regex_test.py
column_defs_lowlevel.py
credentials_test.py
oracle_connection.txt
postgres_connection.txt
*.pyc
tcph_1.sql
tcph_customer
cmdout.txt
*.csv
tcph_lineitem
lineitem_header.txt
tcph_lineitem_header
lineitem
*.txt
tcph_customer_header
tcph_orders
tcph_orders_header
*.un~
customer
tcph_test_data.sql.txt~
orders
data/header/supplier_header
data/full/nation
data/full/partsupp
data/full/part
data/full/partsuppcost
data/full/region
data/header/customer_header
data/full/supplier
data/header/lineitem_header
data/header/nation_header
data/header/orders_header
data/header/part_header
data/header/partsupp_header
data/header/partsuppcost_header
data/header/region_header
tcph_orders.csv
tcph_orders.csv
data/sample/part
data/sample/partsupp
tcph_nation
tcph_nation_header
tcph_part
tcph_part_header
tcph_partsupp
tcph_partsupp_header
tcph_partsuppcost
tcph_partsuppcost_header
tcph_region
tcph_region_header
tcph_supplier
tcph_supplier_header
data/sample/nation
data/sample/partsuppcost
data/sample/supplier
data/sample/region
